* {
  margin: 0;
  font-family: serif;
}
.bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;;
  align-items: center;
  background: #eee;
  padding: 20px;
}

@media all and (max-width: 800px) {
  .bar {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .bar {
    flex-direction: column;
  }
}

.bar a {
  text-decoration: none;
  padding: 1em;
  color: white;
}

.bar a:hover {
  width: 20em;
  height: 20em;
  background: #737373;
  border-radius: 25em;
}

.iconsleft{

}
.iconsright{

}

input[type=text] {
    width: 130px;
    border: 1px solid #737373;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 10px 6px 20px;
}

.title{
  display: flex;
  justify-content: center;
}
